<div fxLayoutAlign ="center center" fxFlexFill >
    <mat-card fxFlex="20">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlighn="stretch" fxLaout="column" class="login-form">
            <p>
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>
            </p>
            <p>
            <mat-form-field>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>
            </p>
            <button mat-raised-button type="submit">Login</button>

        </form>

    </mat-card>

</div> 


